img {
    width: 30%;
    margin: 15px;
}

nav {
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 15px;
    font-family: 'Raleway', sans-serif ;
}